<section class="fig-container" >
    <h1>Most Distinctive Periodicities</h1>

    <p>
        The first column is the name of the code.
        For each color, columns 2-5 are the abs(actual - expected)/expected values of each periodicity.
    </p>

    <table class="ui very basic collapsing celled table" style="width:70%; margin:auto;">
        <thead>
        <tr>
            <th>Color</th>
            <th>3-12.7</th>
            <th>12.7-22.4</th>
            <th>22.4-32.1</th>
            <th>32.1-41.8</th>
            <th>41.8-51.5</th>
            <th>51.5-61.2</th>
            <th>61.2-70.9</th>
            <th>70.9-80.6</th>
            <th>80.6-94.6</th>
            <th>94.6-102.15</th>
            <th>102.15-108.09</th>
            <th>108.09+</th>
        </tr>
        </thead>

        <tr ng-repeat="color in colors">
            <td style="font-size:13px;">{{ color.name }}</td>
            <td ng-repeat="oc in color.p track by $index">
                <div ng-show="oc >= 0.9" style="width: 25px; margin: auto; height: 25px; color: white; line-height:25px; font-size: 10px; text-align: center; background-color:rgba(255, 0, 0, 0.1)">{{ Math.round(oc * 100) / 100 }}
                </div>

                <div ng-show="oc >= 0.5 && oc < 0.9" style="width: 25px; margin: auto; height: 25px; color: white; line-height:25px; font-size: 10px; text-align: center; background-color:rgba(255, 0, 0, 0.2)">{{ Math.round(oc * 100) / 100 }}
                </div>

                <div ng-show="oc >= 0.4 && oc < 0.5" style="width: 25px;margin: auto; height: 25px; color: white; line-height:25px; font-size: 10px; text-align: center; background-color:rgba(255, 0, 0, 0.2)">{{ Math.round(oc * 100) / 100 }}
                </div>

                <div ng-show="oc >= 0.3 && oc < 0.4" style="width: 25px;margin: auto; height: 25px; color: white; line-height:25px; font-size: 10px; text-align: center; background-color:rgba(255, 0, 0, 0.3)">{{ Math.round(oc * 100) / 100 }}
                </div>

                <div ng-show="oc >= 0.2 && oc < 0.3" style="width: 25px;margin: auto; height: 25px; color: white; line-height:25px; font-size: 10px; text-align: center; background-color:rgba(255, 0, 0, 0.4)">{{ Math.round(oc * 100) / 100 }}
                </div>

                <div ng-show="oc >= 0.1 && oc < 0.2" style="width: 25px; margin: auto;height: 25px; color: white; line-height:25px; font-size: 10px; text-align: center; background-color:rgba(255, 0, 0, 0.5)">{{ Math.round(oc * 100) / 100 }}
                </div>

                <div ng-show="oc >= 0.05 && oc < 0.1" style="width: 25px; margin: auto;height: 25px; color: white; line-height:25px; font-size: 10px; text-align: center; background-color:rgba(255, 0, 0, 0.8)">{{ Math.round(oc * 100) / 100 }}
                </div>

                <div ng-show="oc >= 0.01 && oc < 0.05" style="width: 25px;margin: auto; height: 25px; color: white; line-height:25px; font-size: 10px; text-align: center; background-color:rgba(255, 0, 0, 0.9)">{{ Math.round(oc * 100) / 100 }}
                </div>

                <div ng-show="oc >= 0.005 && oc < 0.01" style="width: 25px; margin: auto;height: 25px; color: white; line-height:25px; font-size: 10px; text-align: center; background-color:rgba(255, 0, 0, 0.9)">{{ Math.round(oc * 100) / 100 }}
                </div>

                <div ng-show="oc < 0.005" style="width: 25px;margin: auto; height: 25px; color: white; line-height:25px; font-size: 10px; text-align: center; background-color:rgba(255, 0, 0, 1.0)">{{ Math.round(oc * 100) / 100 }}
                </div>
            </td>
        </tr>
    </table>
</section>


